:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
  color: #4A4A4A;
  background-color: #F5F9FA;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F5F9FA;
}

#root {
  min-height: 100vh;
}
